.hero-container {
    width: 100%;
    object-fit: contain;
    padding: 20px 20%;
}

h1 {
    color: rgb(185, 101, 70);
}

.hero-container>h1 {
    font-size: 30px;
    text-align: left;
}

.hero-link {
    margin: 10px;
}